@import "./variables.scss";
@import "./mixins.scss";

@function color($color, $level: 60) {
    @return map-get($color, $level);
}

*,
*::before,
*::after {
    @include reset;
}

html {
    font-size: 110%;
    scroll-behavior: smooth;

    @media screen and (min-width: $MEDIUM-SCREEN) and (max-width: $LARGE-SCREEN) {
        font-size: 90%;
    }
    @media screen and (min-width: $SMALL-SCREEN) and (max-width: $MEDIUM-SCREEN) {
        font-size: 80%;
    }
    @media screen and (max-width: $SMALL-SCREEN) {
        font-size: 70%;
    }
}

body {
    font-family: $FF-PRIMARY;
    background-color: color($COLOR-PRIMARY, 60);
    color: color($COLOR-PRIMARY, 30);
    min-height: 5000px;
}

.header {
    background-color: color($COLOR-SECONDARY, 60);
    position: relative;
    min-height: 100vh;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        text-shadow: $DEFAULT-SHADOW;

        span {
            color: color($COLOR-PRIMARY, 10);
        }
    }

    &__description {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
        max-width: 40ch;
        margin: 0 auto;
        text-shadow: $DEFAULT-SHADOW;
    }

    &__cta {
        display: block;
        padding: 0.5rem 1.5rem;
        font-size: 1.8rem;
        border-radius: $DEFAULT-ROUNDED;
        font-weight: 700;
        margin: auto;
        max-width: fit-content;
        text-decoration: none;
        color: color($COLOR-PRIMARY, 60);
        background-color: color($COLOR-PRIMARY, 10);
        box-shadow: $DEFAULT-SHADOW;
    }
}

.main {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.5rem;

    @media screen and (max-width: $SMALL-SCREEN) {
        flex-direction: column;
    }

    .add-book {
        flex: 1 1 30%;
        padding: 1.5rem;
        background-color: color($COLOR-SECONDARY, 60);
        border-radius: $DEFAULT-ROUNDED;
        box-shadow: $DEFAULT-SHADOW;

        &__title {
            position: relative;
            font-size: 2rem;
            max-width: fit-content;
            margin: 0 auto 1.5rem;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 110%;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
                border-bottom: 2px solid color($COLOR-PRIMARY, 60);
            }

            span {
                color: color($COLOR-PRIMARY, 10);
            }
        }

        &__description {
            text-align: justify;
            font-weight: 300;
            max-width: 34ch;
            margin: 0 auto 1.5rem;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }

        &__input {
            display: flex;
            flex-direction: column;

            &-field {
                font-size: 1rem;
                padding: 0.5rem;
                border: none;
                outline: none;
                border-radius: $DEFAULT-ROUNDED;
                background-color: color($COLOR-PRIMARY, 60);
                color: color($COLOR-PRIMARY, 10);
                box-shadow: $DEFAULT-SHADOW;

                &.year {
                    text-align: center;
                }
            }

            &--year,
            &--read {
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                label {
                    margin-bottom: 0;
                }
            }
        }

        &__label,
        &__label-checkbox {
            margin-bottom: 0.1rem;
            font-weight: 700;
        }

        &__checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            aspect-ratio: 1;
            border-radius: 4px;
            background-color: color($COLOR-PRIMARY, 60);
            transition: background-color 0.3s ease-in-out;
            box-shadow: $DEFAULT-SHADOW;

            &.checked {
                background-color: color($COLOR-PRIMARY, 10);

                & > .add-book__checkbox--icon {
                    transform: scale(1);
                    color: color($COLOR-PRIMARY, 60);
                }
            }

            &--icon {
                color: color($COLOR-SECONDARY, 10);
                font-size: 1.5rem;
                font-weight: 700;
                transform: scale(0);
                transition: all 0.3s ease-in-out;
            }
        }

        &__input-group {
            display: flex;
            gap: 1rem;
        }

        &__submit {
            padding: 0.5rem 0;
            border-radius: $DEFAULT-ROUNDED;
            border: none;
            font-weight: 700;
            color: color($COLOR-PRIMARY, 60);
            background-color: color($COLOR-PRIMARY, 10);
            box-shadow: $DEFAULT-SHADOW;
        }
    }

    .book-section {
        flex: 1 1 45%;
        background-color: color($COLOR-SECONDARY, 60);
    }
}
