@import "./variables.scss";
@import "./mixins.scss";

@function color($color, $level: 60) {
    @return map-get($color, $level);
}

*,
*::before,
*::after {
    @include reset;
}

html {
    font-size: $BASE-FONT-SIZE;

    @media screen and (max-width: $LARGE-SCREEN) {
        font-size: 18px;
    }

    @media screen and (max-width: $MEDIUM-SCREEN) {
        font-size: $BASE-FONT-SIZE;
    }

    @media screen and (max-width: $SMALL-SCREEN) {
        font-size: 14px;
    }
}

body {
    font-family: $FF-PRIMARY;
    background-color: color($COLOR-PRIMARY, 60);
    color: color($COLOR-PRIMARY, 30);
    min-height: 5000px;
}

header {
    background-color: color($COLOR-SECONDARY, 60);
    @include flex-container(column, center, center);
    gap: 1rem;
    padding: 2rem;
    min-height: 100vh;
    text-align: center;

    h1 {
        text-shadow: $DEFAULT-SHADOW;
        font-size: 2.5rem;
    }

    p {
        text-align: justify;
        max-width: 40ch;
        text-shadow: $DEFAULT-SHADOW;
        font-size: 1.25rem;
        font-weight: 300;
    }
    a {
        margin-top: 1rem;
        box-shadow: $DEFAULT-SHADOW;
    }
}

.btn {
    @include button-base;
    background-color: color($COLOR-PRIMARY, 10);
    color: color($COLOR-PRIMARY, 60);
    font-size: 1.25rem;
}
