$COLOR-PRIMARY: (
    60: #222831,
    30: #eeeeee,
    10: rgb(255, 211, 105)
);

$COLOR-SECONDARY: (
    60: #393e46,
    30: #74787e,
    10: #ebeced
);

$FF-PRIMARY: "Quicksand", sans-serif;

$BASE-FONT-SIZE: 16px;
$SMALL-SCREEN: 576px;
$MEDIUM-SCREEN: 768px;
$LARGE-SCREEN: 992px;

$DEFAULT-SHADOW: 0 4px 4px rgb(0, 0, 0, 0.25);
